@page "/"

<div class="jumbotron bg-white border border-primary">
    <h5>VButton 组件</h5>
    <div>
        <VButton>Default</VButton>
        <VButton BtnStyle="VBtnStyle.Primary">Primary</VButton>
        <VButton BtnStyle="VBtnStyle.Secondary" BtnSize="VBtnSize.Sm">Secondary sm</VButton>
        <VButton BtnStyle="VBtnStyle.Danger" BtnSize="VBtnSize.Lg">Danger lg</VButton>

        <VButton BtnStyle="VBtnStyle.Warning">
            <span class="spinner-border spinner-border-sm"></span>
            Warning Loading..
        </VButton>
    </div>
</div>

<div class="jumbotron bg-white border border-primary">
    <h5>VButtonPartial 组件</h5>
    <div>
        <VButtonPartial>Default</VButtonPartial>
        <VButtonPartial BtnStyle="VBtnStyle.Primary">Primary</VButtonPartial>
        <VButtonPartial BtnStyle="VBtnStyle.Secondary" BtnSize="VBtnSize.Sm">Secondary sm</VButtonPartial>
        <VButtonPartial BtnStyle="VBtnStyle.Danger" BtnSize="VBtnSize.Lg">Danger lg</VButtonPartial>

        <VButtonPartial BtnStyle="VBtnStyle.Warning">
            <span class="spinner-border spinner-border-sm"></span>
            Warning Loading..
        </VButtonPartial>
    </div>
</div>

<div class="jumbotron bg-white border border-primary">
    <h5>VButtonInherit 组件</h5>
    <div>
        <VButtonInherit>Default</VButtonInherit>
        <VButtonInherit BtnStyle="VBtnStyle.Primary">Primary</VButtonInherit>
        <VButtonInherit BtnStyle="VBtnStyle.Secondary" BtnSize="VBtnSize.Sm">Secondary sm</VButtonInherit>
        <VButtonInherit BtnStyle="VBtnStyle.Danger" BtnSize="VBtnSize.Lg">Danger lg</VButtonInherit>

        <VButtonInherit BtnStyle="VBtnStyle.Warning">
            <span class="spinner-border spinner-border-sm"></span>
            Warning Loading..
        </VButtonInherit>
    </div>
</div>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
