<div class="bg-white p-3" style="color: #000;">
    <h3>SelfX</h3>
    <p>GrandValue: @GrandValue</p>
    <button @onclick="ChangGrandValue">Chang GrandValue</button>
</div>

@code {
    /// <summary>
    /// Name参数必须与Name带有CascadingValue组件的属性匹配，如果我们没有提到任何Name，则CascadingParameter中的变量类型与CascadingValue中的Value属性匹配。
    /// </summary>
    [CascadingParameter(Name = "GrandValue")]
    string GrandValue { get; set; }

    [CascadingParameter(Name = "OnChangeGrandValue")]
    Action<string> OnChangeGrandValue { get; set; }

    void ChangGrandValue()
    {
        //不要在此处更新GrandValue，否则会导致渲染两次
        //可以在ShouldRender看到两次true
        GrandValue = "I'm Form self:" + DateTime.Now.ToString("HH:mm:ss");
        OnChangeGrandValue?.Invoke("I'm Form self:" + DateTime.Now.ToString("HH:mm:ss"));
    }

    protected override bool ShouldRender()
    {
        var result = base.ShouldRender();
        Console.WriteLine("ShouldRender " + result);
        return result;
    }
}
